:root {
    --primary-color: #005f73; 
    --secondary-color: #0a9396; 
    --accent-color: #94d2bd; 
    --background-color: #f0f9ff; 
}
body, html {
    margin: 2.5cm;
    padding: 0;
    height: 100%;
  }
header{
    background-color: #005f73;
}
header img{
    width: 50%;
}